<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667292423459-jv7bsh3rmf68epitgrkimvu78ggog59a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667292423459-jv7bsh3rmf68epitgrkimvu78ggog59a</string>
	<key>API_KEY</key>
	<string>AIzaSyDxGLBCLz9GEggJ8INgGwFP6sGlCKF0MHk</string>
	<key>GCM_SENDER_ID</key>
	<string>667292423459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hubcity.urbanattic</string>
	<key>PROJECT_ID</key>
	<string>hubcity-4a676</string>
	<key>STORAGE_BUCKET</key>
	<string>hubcity-4a676.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667292423459:ios:0fd5a763db1417e5e82896</string>
</dict>
</plist>